# Exclude hidden files
._*
.*

###### INCLUDE
!.gitignore

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
govee_learning.yaml

# DB and logs
*.db*
*.fault
*.log*

# HACS
custom_components
www/community/
/www/upcoming-media-card-images/
ui_lovelace_minimalist/
